@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');


#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

blockquote {
  background-color: rgb(99, 98, 98);
  border-radius: 10px;
}
